.modal-back-drop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  background-color: rgba(0,0,0,0.3);
  padding: 50;
  &.modal-open {
    opacity: 1;
    z-index: 1049 !important;
  }
}

.modal {
  opacity: 0;
  z-index: -1 !important;
  display: block !important;
  &.show {
    opacity: 1;
    z-index: 1050 !important;
  }
}